<a href="/help">Help</a>
<a href="https://github.com/aayushsrivastava/">Github</a>
<br /><br />

<form action="/new" method="get">
	<input type="submit" value="New Game">
</form>

<pre><code>
<% game_progress.split("\n").each do |line| %>
<%= line %> <%= "\n" unless development %>
<% end %>
</code></pre>

<form action="/" method="post">
	<input type="number" name="number" min="1" max="9">
	<input type="submit" value="Play">
</form>
