<p>Each cell of the board is uniquely identified by a number. See the diagram below for reference:</p>
<pre><code>
 1 | 2 | 3 
--- --- ---
 4 | 5 | 6 
--- --- ---
 7 | 8 | 9 
</code></pre>
<p>Enter the corresponding number in the input to play the game.</p>
<a href="/">&lt;&lt; Play the game</a>
